<!-- /* Borysenko V. Task#1 13hours. This css needs modal-comics.css */ -->

<div data-comics-modal class="backdrop js-backdrop is-hidden">
  <!-- <div class="modal-comics">
    <button type="button" class="modal-close js-modal-close" data-modal-close>
      <svg class="icon-modal-close js-icon-modal-close" height="20" width="20">
        <use href="./images/sprite.svg#icon-close">
      </svg>
    </button>
    <div class="modal-comics-preview">
      <img class="modal-preview-img" src="./images/desktop/Comics/daredevil.png" alt="">
      <ul class="modal-comics-preview-items">
        <li ><img class="items" src="./images/desktop/pop up1/pop-up1.png" alt=""></li>
        <li ><img class="items" src="./images/desktop/pop up1/pop-up2.png" alt=""></li>
        <li ><img class="items" src="./images/desktop/pop up1/pop-up3.png" alt=""></li>
      </ul>
    </div>
    <div class="modal-comics-desc">
      <div class="desc">
        <h3 class="desc-title">Daredevil (2022)</h3>
        <span>Chip Zdarsky |
        December 07, 2022
        </span>
      </div>
      <p >In the most shocking issue of Chip Zdarsky and Marco Checchetto’s landmark DAREDEVIL epic yet, Elektra finds herself at the center of an international incident that threatens to put her, Matt Murdock and everything they hold dear on a collision course with the Avengers – after which, things may never be the same!</p>
      <ul class="modal-comics-detials">
        <li>FORMAT<p>Comic</p></li>
        <li>YEAR RELEASED<p>1967</p></li>
        <li>PAGES<p>28</p></li>
        <li>PRICE<p>$3.99</p></li>
      </ul>
      <div class="modal-comics-creatorSection">
        <h3>Creator</h3>
        <div class="desc">
          <img width="60" src="./images/desktop/pop up1/chip-zdarsky.png" alt="">
          <div class="writer">
            <span>Writer</span>
            <p>Chip Zdarsky</p>
          </div>
        </div>
      </div>
      <div class="modal-comics-characters">
        <h3>Characters</h3>
        <ul class="items">
          <li class="item"><img src="./images/desktop/pop up1/chip-zdarsky.png" alt=""><p>Chip Zdarsky</p></li>
          <li class="item"><img src="./images/desktop/pop up1/chip-zdarsky.png" alt=""><p>Chip Zdarsky</p></li>
          <li class="item"><img src="./images/desktop/pop up1/chip-zdarsky.png" alt=""><p>Chip Zdarsky</p></li>
          <li class="item"><img src="./images/desktop/pop up1/chip-zdarsky.png" alt=""><p>Chip Zdarsky</p></li>
          <li class="item"><img src="./images/desktop/pop up1/chip-zdarsky.png" alt=""><p>Chip Zdarsky</p></li>
          <li class="item"><img src="./images/desktop/pop up1/chip-zdarsky.png" alt=""><p>Chip Zdarsky</p></li>
          <li class="item"><img src="./images/desktop/pop up1/chip-zdarsky.png" alt=""><p>Chip Zdarsky</p></li>
          <li class="item"><img src="./images/desktop/pop up1/chip-zdarsky.png" alt=""><p>Chip Zdarsky</p></li>
        </ul>
      </div>
    </div>
  </div> -->
</div>
