<section class="characters-page">
  <include src="./partials/_filter.html"></include>
  <div class="characters-container">
    <div class="characters-page-div">
      <ul class="characters-page-list">
        <li class="characters-page-item">
          <div class="image-thumb">
            <img
              class="characters-page-img"
              src="/src/images/desktop/Characters/Black Widow.png"
              alt=""
            />
          </div>
          <div class="characters-page-span">
            <p class="characters-page-name">Black Widow</p>
          </div>
        </li>
        <li class="characters-page-item">
          <div class="image-thumb">
            <img
              class="characters-page-img"
              src="/src/images/desktop/Characters/Nebula.png"
              alt=""
            />
          </div>
          <div class="characters-page-span">
            <p class="characters-page-name">Nebula</p>
          </div>
        </li>
        <li class="characters-page-item">
          <div class="image-thumb">
            <img
              class="characters-page-img"
              src="/src/images/desktop/Characters/Maria Hill.png"
              alt=""
            />
          </div>
          <div class="characters-page-span">
            <p class="characters-page-name">Maria Hill</p>
          </div>
        </li>
        <li class="characters-page-item">
          <div class="image-thumb">
            <img
              class="characters-page-img"
              src="/src/images/desktop/Characters/Ajak.png"
              alt=""
            />
          </div>
          <div class="characters-page-span">
            <p class="characters-page-name">Ajak</p>
          </div>
        </li>
        <li class="characters-page-item">
          <div class="image-thumb">
            <img
              class="characters-page-img"
              src="/src/images/desktop/Characters/Attuma.png"
              alt=""
            />
          </div>
          <div class="characters-page-span">
            <p class="characters-page-name">Attuma</p>
          </div>
        </li>
        <li class="characters-page-item">
          <div class="image-thumb">
            <img
              class="characters-page-img"
              src="/src/images/desktop/Characters/Moon Knight.png"
              alt=""
            />
          </div>
          <div class="characters-page-span">
            <p class="characters-page-name">Moon Knight</p>
          </div>
        </li>
        <li class="characters-page-item">
          <div class="image-thumb">
            <img
              class="characters-page-img"
              src="/src/images/desktop/Characters/Doctor Strange.png"
              alt=""
            />
          </div>
          <div class="characters-page-span">
            <p class="characters-page-name">Doctor Strange</p>
          </div>
        </li>
        <li class="characters-page-item">
          <div class="image-thumb">
            <img
              class="characters-page-img"
              src="/src/images/desktop/Characters/Captain America.png"
              alt=""
            />
          </div>
          <div class="characters-page-span">
            <p class="characters-page-name">Captain America</p>
          </div>
        </li>
        <li class="characters-page-item">
          <div class="image-thumb">
            <img
              class="characters-page-img"
              src="/src/images/desktop/Characters/Agent Mobius.png"
              alt=""
            />
          </div>
          <div class="characters-page-span">
            <p class="characters-page-name">Agent Mobius</p>
          </div>
        </li>
        <li class="characters-page-item">
          <div class="image-thumb">
            <img
              class="characters-page-img"
              src="/src/images/desktop/Characters/Aneka.png"
              alt=""
            />
          </div>
          <div class="characters-page-span">
            <p class="characters-page-name">Aneka</p>
          </div>
        </li>
        <li class="characters-page-item">
          <div class="image-thumb">
            <img
              class="characters-page-img"
              src="/src/images/desktop/Characters/Yelena.png"
              alt=""
            />
          </div>
          <div class="characters-page-span">
            <p class="characters-page-name">Yelena</p>
          </div>
        </li>
        <li class="characters-page-item">
          <div class="image-thumb">
            <img
              class="characters-page-img"
              src="/src/images/desktop/Characters/Druig.png"
              alt=""
            />
          </div>
          <div class="characters-page-span">
            <p class="characters-page-name">Druig</p>
          </div>
        </li>
        <li class="characters-page-item">
          <div class="image-thumb">
            <img
              class="characters-page-img"
              src="/src/images/desktop/Characters/Groot.png"
              alt=""
            />
          </div>
          <div class="characters-page-span">
            <p class="characters-page-name">Groot</p>
          </div>
        </li>
        <li class="characters-page-item">
          <div class="image-thumb">
            <img
              class="characters-page-img"
              src="/src/images/desktop/Characters/Spider-man.jpg"
              alt=""
            />
          </div>
          <div class="characters-page-span">
            <p class="characters-page-name">Spider-man</p>
          </div>
        </li>
        <li class="characters-page-item">
          <div class="image-thumb">
            <img
              class="characters-page-img"
              src="/src/images/desktop/Characters/Bron-Char.png"
              alt=""
            />
          </div>
          <div class="characters-page-span">
            <p class="characters-page-name">Bron-Char</p>
          </div>
        </li>
        <li class="characters-page-item">
          <div class="image-thumb">
            <img
              class="characters-page-img"
              src="/src/images/desktop/Characters/Leapfrog.png"
              alt=""
            />
          </div>
          <div class="characters-page-span">
            <p class="characters-page-name">Leapfrog</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
