<section class="footer-section">
  <footer class="footer">
    <div class="footer-block">
      <div class="footer-block-mobile">
        <a href="./index.html" class="footer-logo">
          <svg class="footer-logo-icon">
            <use
              href="./images/svg/sprite.svg#icon-logo"
              class="footer-logo-img"
            ></use>
          </svg>
        </a>

        <ul class="footer-links">
          <li class="footer-links-item">
            <a class="footer-links-item" href="./characters.html">Characters</a>
          </li>
          <li class="footer-links-item">
            <a class="footer-links-item" href="./comics.html">Comics</a>
          </li>
        </ul>
      </div>

      <ul class="footer-social">
        <li>
          <a
            class="footer-social-item"
            href="https://www.facebook.com/marvelstudios/"
          >
            <svg class="footer-social-icon">
              <use
                href="./images/svg/sprite.svg#icon-facebook"
                class="footer-"
              ></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer-social-item"
            href="https://www.instagram.com/marvel/?hl=en"
          >
            <svg class="footer-social-icon">
              <use
                href="./images/svg/sprite.svg#icon-instagram"
                class="footer-"
              ></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer-social-item"
            href="https://twitter.com/Marvel?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
          >
            <svg class="footer-social-icon">
              <use
                href="./images/svg/sprite.svg#icon-linkedin"
                class="footer-"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-privacy">
      <span class="footer-privacy-text"
        >Privacy Policy Public Offering Agreement</span
      >
    </div>
  </footer>
</section>
