<section class="footer-section">
  <footer class="footer">
    <div class="footer-block">
      <div class="footer-block-mobile">
        <a href="" class="footer-logo">
          <svg class="footer-logo-icon">
            <use
              href="./images/svg/sprite.svg#icon-logo"
              class="footer-logo-img"
            ></use>
          </svg>
        </a>

        <ul class="footer-links">
          <li><a class="footer-links-item" href="">Characters</a></li>
          <li><a class="footer-links-item" href="./comics.html">Comics</a></li>
        </ul>
      </div>

      <ul class="footer-social">
        <li>
          <a href="#">
            <svg class="footer-social-icon">
              <use
                href="./images/svg/sprite.svg#icon-facebook"
                class="footer-"
              ></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="footer-social-icon">
              <use
                href="./images/svg/sprite.svg#icon-instagram"
                class="footer-"
              ></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="footer-social-icon">
              <use
                href="./images/svg/sprite.svg#icon-linkedin"
                class="footer-"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-privacy">
      <span class="footer-privacy-text"
        >Privacy Policy Public Offering Agreement</span
      >
    </div>
  </footer>
</section>
