<section class="gallery-comics-section">
  <include src="./partials/_filter-comics.html"></include>
  <div class="container gallary-comics">
    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/fon/gallery-comics.png" alt="" />
      <p class="gallary-comics-data">Spider-Man (2022)</p>
      <p class="gallary-comics-name">Cody Ziglar</p>
    </div>

    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/fon/gallery-comics.png" alt="" />
      <p class="gallary-comics-data">Avengers Forever (2021)</p>
      <p class="gallary-comics-name">Jason Aaron</p>
    </div>
    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/fon/gallery-comics.png" alt="" />
      <p class="gallary-comics-data">Secret Wars (2015)</p>
      <p class="gallary-comics-name">Jonathan Hickman</p>
    </div>
    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/fon/gallery-comics.png" alt="" />
      <p class="gallary-comics-data">Spider-Man (2022)</p>
      <p class="gallary-comics-name">Cody Ziglar</p>
    </div>
    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/fon/gallery-comics.png" alt="" />
      <p class="gallary-comics-data">Avengers Forever (2021)</p>
      <p class="gallary-comics-name">Jason Aaron</p>
    </div>
    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/fon/gallery-comics.png" alt="" />
      <p class="gallary-comics-data">Avengers Forever (2021)</p>
      <p class="gallary-comics-name">Jason Aaron</p>
    </div>
    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/fon/gallery-comics.png" alt="" />
      <p class="gallary-comics-data">Spider-Man (2022)</p>
      <p class="gallary-comics-name">Cody Ziglar</p>
    </div>
    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/fon/gallery-comics.png" alt="" />
      <p class="gallary-comics-data">Avengers Forever (2021)</p>
      <p class="gallary-comics-name">Jason Aaron</p>
    </div>
    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/fon/gallery-comics.png" alt="" />
      <p class="gallary-comics-data">Spider-Man (2022)</p>
      <p class="gallary-comics-name">Cody Ziglar</p>
    </div>
    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/fon/gallery-comics.png" alt="" />
      <p class="gallary-comics-data">Avengers Forever (2021)</p>
      <p class="gallary-comics-name">Jason Aaron</p>
    </div>
    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/fon/gallery-comics.png" alt="" />
      <p class="gallary-comics-data">Spider-Man (2022)</p>
      <p class="gallary-comics-name">Cody Ziglar</p>
    </div>
    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/fon/gallery-comics.png" alt="" />
      <p class="gallary-comics-data">Spider-Man (2022)</p>
      <p class="gallary-comics-name">Cody Ziglar</p>
    </div>
    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/fon/gallery-comics.png" alt="" />
      <p class="gallary-comics-data">Avengers Forever (2021)</p>
      <p class="gallary-comics-name">Jason Aaron</p>
    </div>
    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/fon/gallery-comics.png" alt="" />
      <p class="gallary-comics-data">Avengers Forever (2021)</p>
      <p class="gallary-comics-name">Jason Aaron</p>
    </div>
    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/fon/gallery-comics.png" alt="" />
      <p class="gallary-comics-data">Spider-Man (2022)</p>
      <p class="gallary-comics-name">Cody Ziglar</p>
    </div>
    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/fon/gallery-comics.png" alt="" />
      <p class="gallary-comics-data">Secret Wars (2015)</p>
      <p class="gallary-comics-name">Jonathan Hickman</p>
    </div>
  </div>
</section>