<section class="gallery-comics-section">
  <include src="./partials/_filter-comics.html"></include>
  <div class="container gallary-comics">
    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/Comics/avangers-forever2.png" alt="" />
      <p class="gallary-comics-data">Spider-Man (2022)</p>
      <p class="gallary-comics-name">Cody Ziglar</p>
    </div>

    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/Comics/avengers-vs-xman.png" alt="" />
      <p class="gallary-comics-data">Avengers Forever (2021)</p>
      <p class="gallary-comics-name">Jason Aaron</p>
    </div>
    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/Comics/captain-america.png" alt="" />
      <p class="gallary-comics-data">Secret Wars (2015)</p>
      <p class="gallary-comics-name">Jonathan Hickman</p>
    </div>
    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/Comics/captain-marvel.png" alt="" />
      <p class="gallary-comics-data">Spider-Man (2022)</p>
      <p class="gallary-comics-name">Cody Ziglar</p>
    </div>
    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/Comics/captain-marvel2.png" alt="" />
      <p class="gallary-comics-data">Avengers Forever (2021)</p>
      <p class="gallary-comics-name">Jason Aaron</p>
    </div>
    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/Comics/daredevil.png" alt="" />
      <p class="gallary-comics-data">Avengers Forever (2021)</p>
      <p class="gallary-comics-name">Jason Aaron</p>
    </div>
    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/Comics/hellcat.png" alt="" />
      <p class="gallary-comics-data">Spider-Man (2022)</p>
      <p class="gallary-comics-name">Cody Ziglar</p>
    </div>
    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/Comics/hulk3.png" alt="" />
      <p class="gallary-comics-data">Avengers Forever (2021)</p>
      <p class="gallary-comics-name">Jason Aaron</p>
    </div>
    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/Comics/immoral-xmen2.png" alt="" />
      <p class="gallary-comics-data">Spider-Man (2022)</p>
      <p class="gallary-comics-name">Cody Ziglar</p>
    </div>
    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/Comics/iron-man2.png" alt="" />
      <p class="gallary-comics-data">Avengers Forever (2021)</p>
      <p class="gallary-comics-name">Jason Aaron</p>
    </div>
    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/Comics/monica-rambeau.png" alt="" />
      <p class="gallary-comics-data">Spider-Man (2022)</p>
      <p class="gallary-comics-name">Cody Ziglar</p>
    </div>
    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/Comics/red-goblin.png" alt="" />
      <p class="gallary-comics-data">Spider-Man (2022)</p>
      <p class="gallary-comics-name">Cody Ziglar</p>
    </div>
    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/Comics/secret-wars.png" alt="" />
      <p class="gallary-comics-data">Avengers Forever (2021)</p>
      <p class="gallary-comics-name">Jason Aaron</p>
    </div>
    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/Comics/spider-man3.png" alt="" />
      <p class="gallary-comics-data">Avengers Forever (2021)</p>
      <p class="gallary-comics-name">Jason Aaron</p>
    </div>
    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/Comics/spider-man4.png" alt="" />
      <p class="gallary-comics-data">Spider-Man (2022)</p>
      <p class="gallary-comics-name">Cody Ziglar</p>
    </div>
    <div class="gallary-comics-container">
      <img class="gallary-comics-img" src="/src/images/desktop/Comics/thanos.png" alt="" />
      <p class="gallary-comics-data">Secret Wars (2015)</p>
      <p class="gallary-comics-name">Jonathan Hickman</p>
    </div>
  </div>
</section>