<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styleH.css" >
</head>
<body>
    <header id="header" class="header">
        <div class="conteiner header__conteiner">
            <a class="header__logo logo" href="/src/index.html"
            >лого<svg class="icon icon-adress-link" width="202" height="31">
                <use xlink:href="./images/sprite.svg#icomoon-logo"></use>
                </svg>
                </a
          >
           
           </a>
           <button class=" btn header__btn " type="button">
            <svg class="icon icon-adress-link" width="18" height="18">
                <use xlink:href="./images/sprite.svg#icomoon-search"></use>
                </svg>
           </button> 
        </div>
        </header>  
</body>
</html>