<section class="hero-batman container">
  <section class="batman-section comics-batman-section">
    <div class="batman-box">
      <p class="batman-subtitle comics-batman-subtitle">WEB-BASED PLATFORM</p>
      <h1 class="batman-title comics-batman-title">Comics</h1>
      <p class="batman-description comics-batman-desc">Comics is a medium used to express ideas with images, <br>often combined with  text or other visual information.</p>
      <button type="button" class="home-btn">BACK HOME</button>
    </div>
  </section>
</section>
