<section class="hero-characters">
<div class="container">

  <div class="container"></div>
  <div class="container-hero-characters container-wrapper-hero-characters">
    <div class="hero-characters-content">
      <h3 class="hero-characters-subtitle">Web-based platform</h3>
      <h1 class="hero-characters-title">Marvelous Adventures</h1>
      <p class="hero-characters-text">
        web-based platform that provides an immersive experience for users to
        explore and discover a vast collection of Marvel characters and comics.
        Start exploring the Marvelous Adventures now by visiting our Characters
        and Comics sections and discover your new favorites today.
      </p>
      <ul class="hero-characters-buttons">
        <li class="hero-characters-btn-item">
          <a class="btn-hero" href="./characters.html">Characters</a>
        </li>
        <li class="hero-characters-btn-item">
          <a class="btn-hero" href="./comics.html">Comics</a>
        </li>
      </ul>
    </div>
    <div class="hero-characters-img">
      <picture>
        <source media="(min-width: 1440px)" width="352" srcset="
            ./images/hero-characters-img/pantera-blue-desktop.webp
          " />
        <!-- <source media="(min-width: 1440px)" width="352" srcset="
                      ./images/hero-characters-img/pantera-blue-desktop.webp,
                      ./images/hero-characters-img/pantera-blue-desktop@2x.webp
                    " /> -->
        <source media="(min-width: 768px)" width="336" srcset="
            ./images/hero-characters-img/pantera-blue-tablet.webp
          " />
        <!-- <source media="(min-width: 768px)" width="336" srcset="
                      ./images/hero-characters-img/pantera-blue-tablet.webp,
                      ./images/hero-characters-img/pantera-blue-tablet@2x.webp
                    " /> -->
        <img class="pantera-blue-img" srcset="./images/hero-characters-img/mobile-pantera-blue@2x.webp"
          src="./images/hero-characters-img/mobile-pantera-blue.webp" width="237" alt="pantera-blue" loading="lazy" />
      </picture>
      <div class="wrapper-black-pantera">
        <div class="box-black-pantera">
          <picture>
            <source media="(min-width: 1440px)" width="261" srcset="
                ./images/hero-characters-img/pantera-black-desktop.webp
              " />
            <!-- <source media="(min-width: 1440px)" width="261" srcset="
                              ./images/hero-characters-img/pantera-black-desktop.webp,
                              ./images/hero-characters-img/pantera-black-desktop@2x.webp
                            " /> -->
            <source media="(min-width: 768px)" width="261" srcset="
                ./images/hero-characters-img/pantera-black-tablet.webp
              " />
            <!-- <source media="(min-width: 768px)" width="261" srcset="
                              ./images/hero-characters-img/pantera-black-tablet.webp,
                              ./images/hero-characters-img/pantera-black-tablet@2x.webp
                            " /> -->
            <img class="pantera-black-img" srcset="./images/hero-characters-img/pantera-black-mobile@2x.webp"
              src="./images/hero-characters-img/pantera-black-mobile.webp" width="200" alt="pantera-black"
              loading="lazy" />
          </picture>
          <div class="hero-characters-circle">
            <p class="hero-characters-circle-text">Black Panther</p>
          </div>
          <a href="">
            <svg class="hero-characters-arrow-svg">
              <use href="./images/hero-characters-img/hero.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
        <svg class="hero-characters-line-svg">
          <use href="./images/hero-characters-img/hero.svg#icon-line"></use>
        </svg>
        <div class="hero-characters-description">
          <h3 class="hero-characters-description-subtitle">Characters</h3>
          <p class="hero-characters-description-text">
            T’Challa is the king of the secretive and highly advanced African
            nation of Wakanda - as well as the powerful warrior known as the
            Black Panther.
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
</section>