<section class="hero-batman">
  <section class="batman-section comics-batman-section container">
    <div class="batman-box">
      <p class="batman-subtitle comics-batman-subtitle">WEB-BASED PLATFORM</p>
      <h1 class="batman-title">Comics</h1>
      <p class="batman-description">Comics is a medium used to express ideas with images, <br>often combined with  text or other visual information.</p>
      <button type="button" class="home-btn">SCROLL DOWN</button>
    </div>
  </section>
</section>
