<section class="hero-spiderman container">
  <section class="spiderman-section comics-spiderman-section">
    <div class="spiderman-box">
      <p class="spiderman-subtitle comics-spiderman-subtitle">WEB-BASED PLATFORM</p>
      <h1 class="spiderman-title comics-spiderman-title">Characters</h1>
      <p class="spiderman-description comics-spiderman-description">With over 70,000 characters in the Marvel Multiverse,<br/> is the most complete public listing in existence.</p>
      <button type="button" class="back-home-btn">BACK HOME</button>
    </div>
  </section>
</section>