<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../partials/LastComics/lastComics.css" />
  </head>
  <body>
    <section class="lastComics">
      <h2 class="lastComics-uppertitle">Last Comics</h2>
      <!-- <svg class="lastComics-svg" width="32" height="32">
        <use href="./svg/icon.svg"></use>
      </svg> -->
      <div class="lastComics-div">
        <ul class="lastComics-list">
          <li class="lastComics-item">
            <img
              class="lastComics-img"
              src="../../images/immoral-xmen.png"
              alt=""
            />
            <div class="lastComics-span">
              <p class="lastComics-date">Immoral X-Men (2023)</p>
              <p class="lastComics-name">Kieron Gillen</p>
            </div>
          </li>
          <li class="lastComics-item">
            <img
              class="lastComics-img"
              src="../../images/spider-man-comics.png"
              alt=""
            />
            <div class="lastComics-span">
              <p class="lastComics-date">Miles Morales: Spider-Man(2022)</p>
              <p class="lastComics-name">Cody Ziglar</p>
            </div>
          </li>
          <li class="lastComics-item">
            <img
              class="lastComics-img"
              src="../../images/avangers-forever.png"
              alt=""
            />
            <div class="lastComics-span">
              <p class="lastComics-date">Avengers Forever (2021)</p>
              <p class="lastComics-name">Jason Aaron</p>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
