<section class="lastComics container">
  <div class="lastComics-header">
    <h2 class="lastComics-uppertitle">Last Comics</h2>
    <a href="./comics.html">
      <svg class="lastComics-svg" width="32" height="32">
        <use href="/src/images/svg/sprite.svg#icon-icon-arrow"></use>
      </svg>
    </a>
  </div>
  <div class="lastComics-div slider-wrapper">
    <ul class="lastComics-list slides-container" id="slides-container">
      <li class="lastComics-item slide">
        <img
          class="lastComics-img"
          src="/src/images/desktop/Comics/immoral-xmen2.png"
          alt=""
        />
        <div class="lastComics-span">
          <p class="lastComics-date">Immoral X-Men (2023)</p>
          <p class="lastComics-name">Kieron Gillen</p>
        </div>
      </li>
      <li class="lastComics-item slide">
        <img
          class="lastComics-img"
          src="/src/images/desktop/Comics/spider-man3.png"
          alt=""
        />
        <div class="lastComics-span">
          <p class="lastComics-date">Spider-Man (2022)</p>
          <p class="lastComics-name">Cody Ziglar</p>
        </div>
      </li>
      <li class="lastComics-item slide">
        <img
          class="lastComics-img"
          src="/src/images/desktop/Comics/avangers-forever2.png"
          alt=""
        />
        <div class="lastComics-span">
          <p class="lastComics-date">Avengers Forever (2021)</p>
          <p class="lastComics-name">Jason Aaron</p>
        </div>
      </li>
    </ul>

    <div class="lastComics-container-btn">
      <button class="lastComics-scroll-btn slide-arrow" id="slide-arrow-prev">
      </button>

      <button
        class="lastComics-scroll-btn lastComics-scroll-btn--right slide-arrow"
        id="slide-arrow-next"
      >
        </svg>
      </button>
    </div>
  </div>
  
</section>
