<section class="section random-characters" id="characters">
  <div class="container random-characters-container">
    <h2 class="characters-title title">RANDOM CHARACTERS</h2>
    <div class="random-characters-box">
      <div class="characters-container-info">
        <picture class="random-characters-img">
          <!-- <source
            srcset="
              ./images/desktop/random-characters/ant-man-desktop1x.jpg  1x,
              ./images/desktop/random-characters/ant-man-desktop-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/desktop/random-characters/ant-man-tablet1x.jpg 1x,
              ./images/desktop/random-characters/ant-man-tablet2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/desktop/random-characters/ant-man-mobile1x.jpg 1x,
              ./images/desktop/random-characters/ant-man-mobile2x.jpg 2x
            "
            media="(min-width: 320px)"
          /> -->
          <img
            class="characters-image my-slides fade"
            src="./images/desktop/Home/man2.png"
            alt="Ant-Man"
            width="496"
            height="704"
            style="border-radius: 2%"
          />
        </picture>
        <ul class="characters-list list" id="characters-list-index-renndom">
          <li class="characters-item">
            <!-- <a href="" class="characters-link"> -->
            <h3 class="characters-small-title">Ant-Man</h3>
            <p class="characters-text">
              Thief turned hero Scott Lang uses size manipulation tech to
              infiltrate bases and intimidate bad guys.
            </p>
            <!-- </a> -->
          </li>
          <li class="characters-item">
            <a href="" class="characters-link">
              <h3 class="characters-small-title">The Wasp</h3>
              <p class="characters-text">
                Hope Van Dyne, daughter of the brilliant and heroic Ant-Man
                (Hank Pym) and The Wasp (Janet van Dyne), helps trains her
                father’s successor Scott Lang and secure the destruction of the
                Yellowjacket technology.
              </p>
            </a>
          </li>
          <li class="characters-item">
            <a href="" class="characters-link">
              <h3 class="characters-small-title">Cassie Lang</h3>
              <p class="characters-text">
                As Scott Lang’s young daughter, Cassie is super proud of her
                dad’s heroics as Ant-Man.
              </p>
            </a>
          </li>
          <li class="characters-item">
            <a href="" class="characters-link">
              <h3 class="characters-small-title">Kang The Conqueror</h3>
              <p class="characters-text">
                The character is most frequently depicted as an opponent of the
                Avengers and the Fantastic Four.
              </p>
            </a>
          </li>
          <li class="characters-item">
            <a href="" class="characters-link">
              <h3 class="characters-small-title">Hank Pym</h3>
              <p class="characters-text">
                Hank Pym is a brilliant scientist who used his discovery of the
                shrinking Pym Particles, the suit that could survive the
                process, and insect communication waves, to turn himself into
                the original Ant-Man.
              </p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="all-characters-button-container">
      <a href="./characters.html">
        <button
          type="button"
          class="all-characters-button button-text"
          data-modal-open
        >
          ALL CHARACTERS
        </button>
      </a>
    </div>
  </div>
</section>
