.characters-page-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width:768px) {
  .characters-page-list{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    padding-top: 64px;
    padding-bottom: 64px
  }
}

@media screen and (min-width: 1000px) {
  .characters-page-list {
    gap: 64px 16px;
  }
}

@media screen and (min-width: 1440px) {
  .ccharacters-page-list {
    gap: 64px 16px;
  }
}

.characters-page-item {
    width: 336px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
  }
 @media screen and (min-width: 768px) {
  .characters-page-item {
    width: 336px;
  }
} @media screen and (min-width: 1440px) {
  .characters-page-item {
    width: 332px;
  }
}

.characters-page-img {
  width: 335px;
  object-fit: contain;
  border-radius: 8px;
  transition: 1s;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .characters-page-img {
    max-height: 459px;
  }
}


@media screen and (min-width: 1440px) {
  .characters-page-img {
    width: 332px;
    border-radius: 8px;
    max-height: 445px;
  }

  .characters-page-img:hover {
    transform: scale(1.1);
  }
}


.characters-page-span {
  padding-top: 16px;
}

.characters-page-name {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: var(--light-font-color);
}