body {
  font-family: 'Poppins', sans-serif;
}

/* ======================= SEARCH ======================= */

.search-title-btn {
  position: absolute;
  transform: translate(-50px, 7px);
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.search-format-btn,
.search-order-btn {
  position: absolute;
  transform: translate(110px, 30px);
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.input-wrapper {
  position: relative;
}

/* ======================================================== */

.filters-section-comics {
  padding-top: 20px;
  padding-bottom: 40px;
}

.filters-container {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.filters-form {
  display: flex;
  flex-direction: column;
}

.filters-input-field {
  display: block;
  margin-bottom: 12px;
}

.filters-input-desc {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  color: rgba(250, 250, 250, 0.3);
}

.filters-input {
  width: 100%;
  height: 48px;
  padding: 14px 24px;

  font-size: 14px;
  line-height: 1.28;
  background-color: #171717;
  border: 2px solid #34387f;
  border-radius: 100px;
  outline: none;
  color: #fafafa;
  box-sizing: border-box;
}

.filters-input::placeholder {
  font-size: 14px;
  line-height: 1.28;
  color: #fafafa;
}

.filters-input:focus {
  background-color: #34387f;
}

.select-wrapper {
  position: relative;
  display: flex;
  gap: 8px;
}

.filters-select {
  height: 50px;
  padding: 14px 24px;

  font-size: 14px;
  line-height: 1.28;
  background-color: #171717;
  border: 2px solid #34387f;
  border-radius: 100px;
  outline: none;
  color: #fafafa;
  box-sizing: border-box;
}

.filters-select:focus {
  background-color: #34387f;
}

.filters-select-field {
  display: block;
}

@media screen and (max-width: 767px) {
  .filters-select-field {
    width: 100%;
  }

  .filters-input {
    width: 100%;
  }
}

.options {
  font-size: 12px;
  line-height: 1.16;
  color: #fafafa;
  background-color: #171717;
  border-radius: 30px;
}

.last-filter {
  width: 156px;
}

/* ========================= CUSTOM SELECT========================= */

.wrapper {
  /* position: relative; */
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.characters-options-list {
  position: absolute;
  transform: translate(0px, 73px);
  width: 100%;
  visibility: hidden;
  display: flex;
  /* padding: 14px 24px; */
  flex-direction: column;
  border-radius: 16px;
  background-color: #171717;
  cursor: pointer;

  overflow-x: hidden;
}

.characters-list-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  padding: 14px 24px 0 24px;
  margin-bottom: 8px;

  color: rgba(250, 250, 250, 0.3);
}
.characters-list-item:hover,
.characters-list-item:focus {
  color: #fafafa;
}
/* =======================================================*/

/* ====================== TABLET ======================= */

@media screen and (min-width: 768px) {
  .filters-section-comics {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .filters-container {
    max-width: 768px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
  }

  .filters-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
  }

  .input-wrapper {
    display: flex;
    gap: 8px;
  }

  .filters-input {
    height: 50px;
    font-size: 16px;
    line-height: 1.12;
  }

  .filters-input::placeholder {
    font-size: 16px;
    line-height: 1.12;
  }

  .filters-select {
    width: 100%;
    height: 52px;
    font-size: 16px;
    line-height: 1.12;
    cursor: pointer;
  }

  .filters-select-field {
    width: 160px;
  }

  .characters-options-list {
    transform: translate(0px, 73px);
  }

  .options {
    font-size: 16px;
    line-height: 1.12;
  }
}

/* ============================ DESKTOP ================================ */

@media screen and (min-width: 1440px) {
  .filters-container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
  }

  .filters-form {
    width: 861px;
    margin: 0 auto;
  }

  .comics-search {
    width: 268px;
  }
}
