.header {
  /* position: fixed; */
  position: sticky;
  top: 0px;
  /* width: 100%; */
  z-index: 100;
  justify-content: center;
}
/* .fixed{
  position: fixed;
} */

.header__conteiner {
  /* position: sticky; */
  display: flex;
  justify-content: space-between;
  background: transparent;
  position: relative;
  padding: 24.5px 32px 10px 32px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  header {
    max-width: 480px;
  
  }
}
@media screen and (max-width: 1200px) {
  header {
    max-width: 768px;
   
  
  }
}
@media screen and (max-width: 1200px) {
  header {
    max-width: 1200px;
  }
}
.header__search-form {
  position: relative;
  z-index: 1;
}
header.sticky {
  position: sticky;
  /* background:hsla(242, 78%, 20%, 0.395); */

  background: radial-gradient(
    81.15% 81.15% at 50% 18.85%,
    rgba(52, 56, 127, 0.5) 0%,
    rgba(23, 23, 23, 0.5) 100%
  );
  /* opacity: 15; */
  /* background: linear-gradient(to bottom, #34387f 0%, #ff99ff 100%); */
  z-index: 1;
}
.header__input.sticky {
  background-color: black;
}

.header__input {
  width: 130px;
  height: 42px;
  padding: 12px 24px 12px 44px;

  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28571;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: transparent;
  border-color: dimgrey;
  border-radius: 24px;
  transition: background-color 0.15s cubic-bezier(1, -0.14, 1, 1.29),
    color 0.15s cubic-bezier(1, -0.14, 1, 1.29);
}

.header__input.sticky {
  background-color: black;
}

.header__input {
  width: 130px;
  height: 42px;
  padding: 12px 24px 12px 44px;

  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28571;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: transparent;
  /* border-color: dimgrey; */
  /* border-radius: 24px; */
  
  border: 1px solid rgba(250, 250, 250, 0.3);
  border-radius: 1000px;
}
@media screen and (max-width: 768px) {
  .header__input {
    max-width: 480px;
    width: 108px;
    height: 28px;
    font-size: 12px;
    padding: 12px 14px 12px 43px;
  }
}

input::placeholder {
  color: #fafafa;
  font-family: 'Poppins';
}

.header__input:hover {
  background-color:  rgba(52, 56, 127, 1);
   
  transform: scale(1.01);
}

.header__icon-search {
  color: #fafafa;
  position: absolute;
  bottom: 14px;
  left: 24px;
  cursor: pointer;
  z-index: 3;
}
@media screen and (max-width: 768px) {
  .header__icon-search {
    max-width: 480px;
    width: 16px;
    height: 16px;
    top: 5px;
  }
}

.icon__home{
  width: 202px;
  height: 31px;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 766px) {
  .icon__home {
    max-width: 480px;
    width: 98px;
    height: 15px;
  }
}

