.container-hero-characters {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 375px) {
  .container-hero-characters {
    width: 365px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container-hero-characters {
    width: 734px;
  }
}

@media screen and (min-width: 1440px) {
  .container-hero-characters {
    width: 1406px;
  }
}

.hero-characters {
  padding-bottom: 40px;
}

.hero-characters-subtitle {
  font-family: 'Poppins';
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.285;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.hero-characters-title {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 44px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: var(--light-font-color);
  margin-bottom: 16px;
}

.hero-characters-text {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.285;
  color: var(--light-font-color);
  margin-bottom: 20px;
}

.hero-characters-buttons {
  display: flex;
}

.btn-hero {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--light-font-color);
  background-color: #0c0b0b;
  margin-bottom: 40px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 1000px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.btn-hero:hover,
.btn-hero:focus {
  background-color: #34387f;
  border: none;
}

.hero-characters-img {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.wrapper-black-pantera {
  margin-left: auto;
}

.hero-characters-line-svg {
  fill: rgba(250, 250, 250, 0.15);
  width: 237px;
  height: 6px;
  display: inline-block;
  margin-bottom: 16px;
}

.hero-characters-description {
  display: flex;
  column-gap: 55px;
}

.hero-characters-description-subtitle {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: -0.02em;
  color: var(--light-font-color);
}

.hero-characters-description-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.5);
  width: 125px;
}

.box-black-pantera {
  border-radius: 0px 0px 0px 4px;
  width: 237px;
  background-color: #171717;
  background-image: url(../images/hero-characters-img/line-white.png);
  background-repeat: no-repeat;
  background-position: 0px 5px;
  position: relative;
  margin-bottom: 14px;
}

.hero-characters-arrow-svg {
  position: absolute;
  right: 14px;
  bottom: 16px;
  fill: #34387f;
  width: 24px;
  height: 24px;
}

.hero-characters-circle {
  background: radial-gradient(81.15% 81.15% at 50% 18.85%,
      #34387f 0%,
      #171717 100%);
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  position: absolute;
  bottom: 16px;
  left: 14px;
}

.hero-characters-circle-text {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.125;
  color: var(--light-font-color);
  text-transform: uppercase;
}

.pantera-black-img {
  margin-left: 35px;
  padding-bottom: 28px;
}

.box-black-pantera::after {
  content: '';
  position: absolute;
  top: 235px;
  width: 260px;
  height: 234px;
  background: linear-gradient(180deg,
      #34387f 36.46%,
      rgba(52, 56, 127, 0) 100%);
  filter: blur(47px);
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .hero-characters-subtitle {
    font-size: 18px;
    line-height: 1.611;
    margin-bottom: 16px;
  }

  .hero-characters-title {
    width: 538px;
    font-size: 80px;
    line-height: 80px;
  }

  .hero-characters-text {
    font-size: 16px;
    width: 473px;
    margin-bottom: 32px;
  }

  .btn-hero {
    font-size: 14px;
    line-height: 1.285;
    padding: 12px 24px;
  }

  .box-black-pantera {
    width: 336px;
    background-position: right 100px;
    margin-bottom: 16px;
  }

  .hero-characters-circle {
    width: 144px;
    height: 144px;
  }

  .hero-characters-circle-text {
    font-size: 24px;
    line-height: 1;
  }

  .hero-characters-arrow-svg {
    width: 32px;
    height: 32px;
  }

  .pantera-black-img {
    margin-left: 75px;
    padding-top: 107px;
    padding-bottom: 0px;
  }

  .hero-characters-img {
    flex-direction: row;
    align-items: end;
  }

  .hero-characters-line-svg {
    width: 336px;
    height: 9px;
    margin-bottom: 16px;
  }

  .hero-characters-description {
    column-gap: 84px;
  }

  .hero-characters-description-text {
    width: 195px;
  }

  .box-black-pantera::after {
    top: 350px;
    width: 332px;
    height: 300px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-characters-title {
    width: 527px;
  }

  .hero-characters-text {
    width: 527px;
  }

  .container-wrapper-hero-characters {
    display: flex;
    column-gap: 145px;
    justify-content: space-between;
    width: 100%;
  }

  .box-black-pantera {
    width: 352px;
  }

  .hero-characters-img {
    column-gap: 32px;
  }

  .pantera-blue-img {
    margin-bottom: 60px;
    padding-bottom: 0px;
  }

  .box-black-pantera {
    background-position: right 118px;
    background-image: url(../images/hero-characters-img/line-desktop.png);
  }

  .pantera-black-img {
    margin-left: 95px;
    padding-top: 135px;
  }

  .wrapper-black-pantera {
    margin-bottom: 110px;
  }

  .hero-characters-content {
    margin-top: 210px;
    margin-right: auto;
  }
}