@media screen and (min-width:375px) {
    .section-comics {
        width: 100%;
        height: 461px;
        background-image: url(../images/mobile/batman.mobile.png); 
        background-repeat: no-repeat;
        background-position: right bottom;
    }
    .container-comics {
        position: relative;
        width: 335px;
        padding-top: 172px;
        padding-left: 20px;
        padding-right: 20px;
}
    .comics-text {
        font-family: 'Poppins';
        font-size: 14px;
        line-height: 1.3;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.7);

}
    .comics-title {
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 60px;
        line-height: 1;
        letter-spacing: -0.02em;
        color: #fafafa;

}
    .comics-description {
        font-family: 'Poppins';
        padding-left: 0;
        font-size: 14px;
        line-height: 1.3;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: #fafafa;
        margin: 0;
}
    .back {
        position: absolute;
        color: rgba(255, 255, 255, 0.7);
        border: 1px solid rgba(250, 250, 250, 0.5);
        border-radius: 1000px;
        bottom: -110px;
        right: -20px;
        padding: 10px 20px;
        height: 36px;
        font-size: 12px;
        line-height: 1.33;
        display: flex;
        color: #fafafa;
    }

}
@media screen and (min-width:768px) {
    .section-comics {
        background-image: url(../images/tablet/batman.tablet.png);
        background-color: var(--praimery-bg-color);
        height: 780px;
        padding-top: 0;
    }

    .container-comics {
        width: 768px;
        padding-left: 20px;
        padding-top: 212px;
        padding-bottom: 251px;
    }

    .comics-text {
        color: rgba(255, 255, 255, 0.7);
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 16px;
    }

    .comics-title {
        font-size: 100px;
        line-height: 1;
        margin-bottom: 16px;
        color: #fafafa;
    }

    .comics-description {
        font-size: 16px;
        line-height: 1.25;
        color: #fafafa;
        margin-left: 100px;
    }

    .back {
        right: 32px;
        bottom: -120px;
    }
}

@media screen and (min-width:1440px) {
    .section-comics {
        background-image: url(../images/desktop/Comics/batman.png);
        background-repeat: no-repeat;
    }

    .container-comics {
        min-width: 1440px;
        padding-left: 32px;
    }

    .comics-text {
        color: rgba(255, 255, 255, 0.7);;
    }

    .back {
        bottom: 75px;
        right: -60px;
    }
}

    