

.lastComics {
  height: 100%;
  background-color: var(--end-gradient-color);
  margin-bottom: 50px;
}

.lastComics-uppertitle {

  font-style: normal;
  font-weight: 500;
  font-size: 44px;

  line-height: calc(44/44);

  align-items: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  padding-bottom: 64px;
  color: var(--light-font-color);
}

@media screen and (max-width: 480px) {
  .lastComics-uppertitle {
    font-size: 28px;
    line-height: 32px;
    padding-bottom: 44px;
  }
}


.lastComics-svg {
  fill: #34387F;
}

@media screen and (max-width: 768px) {
  .lastComics-svg {
    display: none;
  }
}

.lastComics-btn {
  cursor: pointer;
}

.lastComics-header {
  display: flex;
  padding: 0 2.222vw 0 2.222vw;
  justify-content: space-between;
}

.lastComics-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 16px;

}

@media screen and (max-width: 768px) {
  .lastComics-list {
    width: 100%;
    overflow-x: auto;
    display: grid;
    grid-template-columns: repeat(3, 56vw);
  }
}

.lastComics-item {
  height: 100%;
  width: 31.111vw;
}

@media screen and (max-width: 768px) {
  .lastComics-item {
    width: 58.333vw;
  }
}


.lastComics-img {
  width: 31.111vw;
  height: 36.042vw;
}

@media screen and (max-width: 768px) {
  .lastComics-img {
    width: 58.333vw;
    height: 63.151vw;
  }
}

@media screen and (max-width: 480px) {
  .lastComics-img {
    width: 67.292vw;
    height: 77.917vw;
  }

}

.lastComics-span {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .lastComics-span {
    padding-top: 14px;
  }
}

.lastComics-date {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;

  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  padding-bottom: 8px;

  color: var(--light-font-color);
}

@media screen and (max-width: 480px) {
  .lastComics-date {
    padding-bottom: 4px;
    font-size: 18px;
  }
}

.lastComics-name {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  display: flex;
  align-items: center;

  color: rgba(250, 250, 250, 0.5);
}

@media screen and (max-width: 480px) {
  .lastComics-name {
    font-size: 14px;
  }
}

.lastComics-container-btn {
  display: none;
}

@media screen and (max-width: 768px) {
  .lastComics-container-btn {
    display: flex;
    flex-direction: inherit;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-top: 32px;
    padding-bottom: 128px;
  }
}

@media screen and (max-width: 480px) {
  .lastComics-container-btn {
    display: initial;
    gap: 14px;
    padding-top: 20px;
    padding-bottom: 80px;
  }
}

.lastComics-scroll-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.lastComics-scroll {
  width: 44px;
  height: 44px;
}

@media screen and (max-width: 480px) {
  .lastComics-scroll {
    width: 32px;
    height: 32px;
  }
}
