* {
    box-sizing: border-box;
    margin: 0;
    padding-inline-start: 0;
}

.lastComics {
    /* width: 95.556vw; */
    height: 100%;
    /* height: 48.125vw; */
   background-color:black;
}

.lastComics-uppertitle {
    font-family: 'Poppins';
    /* width: 284px;
    height: 44px; */
    padding-bottom: 64px;
    
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 44px;
    
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
        
    color: #FAFAFA;
}

/* .lastComics-div {
    margin: 32px 128px 32px;
} */

.lastComics-list {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0 16px;

}

.lastComics-item {
    list-style: none;
    width: 31.111vw;
    height: 100%;
}


.lastComics-img {
    /* width: 448px;
    height: 519px; */
    width: 31.111vw;
    height: 36.042vw;
    object-fit: cover;
}

.lastComics-span {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
}

.lastComics-date {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    padding-bottom: 8px;

    color: #FAFAFA;

    /* flex: none;
    order: 0;
    flex-grow: 0; */
}

.lastComics-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    display: flex;
    align-items: center;

    color: rgba(250, 250, 250, 0.5);

    flex: none;
    order: 1;
    flex-grow: 0;
}



