@import '/node_modules/modern-normalize/modern-normalize.css';
@import '/src/css/reset.css';
@import '/src/css/header.css';
@import './random-characters.css';
@import './hero-comics.css';
@import './last-comics.css';
@import './page-404.css';
@import './vars.css';
@import './hero-characters.css';
@import './modal-comics.css';

@import './modal-characters.css';

@import './footer.css';

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--praimery-bg-color);
}

li {
  list-style: none;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}
