@import '/node_modules/modern-normalize/modern-normalize.css';
@import '/src/css/reset.css';
@import '/src/css/header.css';
@import './random-characters.css';
@import './hero-comics.css';
@import './last-comics.css';
@import './page-404.css';
@import './vars.css';
@import './hero-characters.css';
@import './modal-comics.css';
@import './hero-spiderman.css';
@import './gallary-comics.css';
@import './characters-card.css';

@import './modal-characters.css';
@import './footer.css';
@import './filter.css';
@import './filter-comics.css';

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--praimery-bg-color);
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
