/* --------- Modile --------- */
.backdrop-modal-characters {
  position: fixed;
  inset: 0;

  display: flex;
  overflow-y: auto;
  cursor: pointer;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: rgba(3, 5, 41, 0.778);
}

.modal-characters {
  position: relative;
  min-width: 335px;
  margin: auto;
  cursor: default;

  z-index: 1050;

  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;

  background: #0c0b0b;
  border-radius: 8px;
}

.modal-close {
  position: absolute;
  top: 14px;
  right: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: none;
}

.modal-close svg:is(:hover, :focus, :active) {
  cursor: pointer;
}

.icon-modal-close {
  width: 20px;
  height: 20px;

  fill: rgb(255, 255, 255);
}

.container-modal-characters {
  width: 295px;
}

.modal-gallery {
  margin-bottom: 16px;
}

.container-img-max {
  margin-top: 6px;
}

.container-img-max:is(:hover, :focus, :active) {
  cursor: pointer;
}

.container-img-max img {
  border-radius: 8px;
}

.container-img-min {}

.img-list {
  margin-top: 6px;
  display: flex;
  gap: 8px;
}

.img-item:is(:hover, :focus, :active) {
  cursor: pointer;
}

.container-modal-about-char {
  padding: 32px 16px;

  border-radius: 8px;
  color: white;
  background-color: #171717;
}

.modal-about-char {
  margin-bottom: 32px;
}

.modal-char-title {
  margin-top: 4px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;

  color: #fafafa;
}

.date-comics-modal {
  margin-bottom: 16px;

  font-size: 14px;
  line-height: 1.3;

  color: rgba(250, 250, 250, 0.5);
}

.about-char-description {
  font-size: 14px;
  line-height: 1.3;

  color: #fafafa;
}

.container-modal-list-comics {}

.modal-comics-list-title {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  align-items: center;
  letter-spacing: -0.02em;

  color: #fafafa;
}

.modal-comics-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.modal-comics-item:is(:hover, :focus, :active) {
  cursor: pointer;
}

.comics-img-container {
  margin-bottom: 16px;
}

.comics-desc-container {}

.comics-name {
  margin-bottom: 4px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.33px;
  align-items: center;
  letter-spacing: -0.02em;

  color: #fafafa;
}

.actress {
  font-size: 12px;
  line-height: 1.17;
  align-items: center;

  color: rgba(250, 250, 250, 0.5);
}

.is-hidden {
  display: none;
}

/* --------- Tablet --------- */
@media screen and (min-width: 768px) {
  .modal-characters {
    width: 600px;
  }

  .container-modal-characters {
    width: 100%;
  }

  .modal-gallery {
    display: flex;
    gap: 8px;
  }

  .img-list {
    flex-direction: column;
  }

  /* .container-modal-characters {
   min-width: 536px;
   margin: none;
  } */

  .icon-modal-close {
    width: 28px;
    height: 27px;
  }

  .modal-comics-list {
    gap: 19px;
  }

  .comics-img-container {
    width: 155px;
    height: 200px;
  }

  .modal-comics-list-title {
    font-size: 14px;
  }

  .container-img-max img {
    width: 332px;
  }
}

/* --------- DESC --------- */

@media screen and (min-width: 1200px) {
  .modal-characters {
    width: 1000px;
    padding: 64px 32px;
  }

  .container-modal-characters {
    display: flex;
    gap: 16px;
  }

  .container-modal-about-char {
    width: 588px;
  }

  .modal-gallery {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .img-list {
    flex-direction: row;
  }

  .modal-comics-list {
    gap: 16px;
  }

  .comics-img-container {
    width: 174px;
  }

  .modal-comics-list-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.12;
  }
}