/* Borysenko V. Task#1 13hours. This css needs for _modal-comics.html */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #171717ba;
  z-index: 1;

  overscroll-behavior: contain;
}

.modal-comics {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1000px;
  max-height: 842px;

  padding-top: 64px;
  padding-bottom: 64px;
  padding-right: 32px;
  padding-left: 32px;

  background-color: #0C0B0B;
  border-radius: 8px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  gap: 16px;
  cursor: pointer;

}

.modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 28px;
  height: 28px;
  /* z-index: 2; */
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  /* background-color: transparent; */


}

.modal-comics-preview {
  width: 332px;
  display: inline-block
}

.modal-preview-img {


  background-color: #FFFFFF;
  border-radius: 8px;
  margin-bottom: 8px;

}

.modal-comics-preview-items {
  display: flex;
  gap: 8px;
  /* width: 500px; */


  /* background: #FFFFFF; */

}

.modal-comics-preview-items .items {
  border-radius: 8px;
}

.modal-comics-desc {
  display: block;
  color: rgba(250, 250, 250, 0.5);
  background-color: wheat;
  text-align: center;
  width: 588px;
  height: 714px;
  background-color: #171717;
  border-radius: 8px;
  padding-top: 32px;
  padding-right: 16px;
  padding-left: 16px;
  text-align: left;

}

.modal-comics-desc .desc {
  display: flex;
  justify-content: space-between;
}

.modal-comics-desc p {
  color: rgba(250, 250, 250, 1);

  font-size: 16px;
  margin-bottom: 32px;
  line-height: 1.12;
}

.desc-title {
  font-size: 24px;
  color: rgba(250, 250, 250, 1);

}

.modal-com {
  /* padding-top: 64px; */
  /* position: relative; */
  display: flex;
  gap: 16px;
  justify-content: center
}


.modal-comics-detials {
  display: flex;
  gap: 32px;
}


.modal-comics-characters .items {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  height: 100%;
  gap: 15px;
  height: 212px;



}



.modal-comics-characters .item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
  /* outline: 1px dashed red; */




}

.modal-comics-characters .item p {
  margin: 0;
}

.modal-comics-characters .item img {
  width: 60px;

}

.modal-comics-desc h3 {
  color: rgba(250, 250, 250, 1);
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 32px;
}

.modal-comics-desc .desc-title {
  margin-bottom: 16px;
}

.modal-comics-detials p {
  margin-top: 8px;
  /* outline: 1px darkviolet red; */
}

.modal-comics-creatorSection .desc {
  display: flex;
  height: 60px;
  align-items: start;
  justify-content: start;
  gap: 14px;
  /* background-color: wheat; */
}

.modal-comics-creatorSection {
  margin-bottom: 32px;
}

.modal-comics-creatorSection .writer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 8px;
}

.is-hidden {
  width: 1px;
  height: 1px;
  display: none;
}



.super-close {
  position: relative;
  width: 28px;
  height: 28px;
  color: red;
}