
/* --------- Modile --------- */
.backdrop {
  position: fixed;

  width: 100%;

  background-color: hsla(235, 92%, 5%, 0.877);
}

.modal {
  min-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;

  position: relative;
  
  background-color: #0C0B0B;
}

.modal-close {
  position: absolute;
  top: 14px;
  right: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: none;
}

.container-modal {
  width: 295px;
  margin: 0 auto;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}

.modal-gallery {
  margin-bottom: 16px;

  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.img-list {
  margin-top: 6px;
  display: flex;
  gap: 8px;
}

.container-img-max  img{
  margin-top: 6px;
  border-radius: 8px;
}

.icon-modal-close {
  width: 20px;
  height: 20px;

  fill: rgb(255, 255, 255);
}

.container-about-char {
  padding: 32px 16px;
  
  border-radius: 8px;
  color: white;
  background-color: #171717;
  
  
}

.about-char {
  margin-bottom: 32px;
}

.about-char-title {
  margin-top: 4px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;

  color: #FAFAFA;
}

.date-comics-modal {
  margin-bottom: 16px;

  font-size: 14px;
  line-height: 1.3;

  color: rgba(250, 250, 250, 0.5);  
}

.about-char-description {
  font-size: 14px;
  line-height: 1.3;

  color: #FAFAFA;
}

.comics-list-title {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  align-items: center;
  letter-spacing: -0.02em;

  color: #FAFAFA;
}

.comics-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.comics-img-container {
  margin-bottom: 16px;
}

.comics-name {
  margin-bottom: 4px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.33px;
  align-items: center;
  letter-spacing: -0.02em;

  color: #FAFAFA;
}

.actress {
  font-size: 12px;
  line-height: 1.17;
  align-items: center;

  color: rgba(250, 250, 250, 0.5);
}

.is-hidden {
  display: none;
}

/* --------- Tablet --------- */

@media screen and (min-width: 768px) {

  .modal {
    width: 600px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;

    position: relative;
    
    background-color: #0C0B0B;
  }
  .container-modal {
   min-width: 536px; 
   margin: none;
  }

  .icon-modal-close {
    width: 28px;
    height: 27px;
  }

  .modal-gallery {
    flex-wrap: nowrap;
  }

  .img-list {
   flex-direction: column;
  }

  .comics-list {
    gap: 19px;
  }

  .comics-img-container {
    width: 155px;
    height: 200px;
  }

  .comics-list-title {
    font-size: 14px;
  }

}