@import './vars.css';

body {
  font-family: 'Poppins', sans-serif;
}

/* ================================== MOBILE ================================= */

.error-header-container {
  position: relative;
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.error-header-wrapper {
  position: absolute;
  z-index: 20;
  top: 20px;
}

.logo-err {
  width: 98px;
  height: 15px;
}

.error {
  position: fixed;
  inset: 0;
  padding-top: 96px;
  padding-bottom: 536px;
  min-height: 100vh;

  background-image: radial-gradient(
    75.97% 258.93% at 61.53% 47.37%,
    var(--start-gradient-color) 0%,
    var(--end-gradient-color) 100%
  );
  background-repeat: no-repeat;
}

.error-container {
  position: relative;
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.error-img-wrapper {
  position: absolute;
  transform: scale(1.5) translate(10px, 165px);
  width: 100%;
  max-width: 375px;
  height: 100vh;
  overflow: hidden;
}

.error-img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.error-text {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
}

.error-title {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -0.02em;

  color: var(--light-font-color);
}

.error-message {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: var(--light-font-color);
}

.back-home {
  display: block;
  width: 113px;
  padding: 10px 20px;

  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--light-font-color);
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 1000px;
}

.back-home:hover,
.back-home:focus {
  background-color: rgba(250, 250, 250, 0.1);
}

/* ========================== TABLET ================================== */

@media screen and (min-width: 768px) {
  .error-header-container {
    width: 100%;
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .error-header-wrapper {
    top: 24px;
  }

  .logo-err {
    width: 202px;
    height: 31px;
  }

  .error {
    padding-top: 146px;
    padding-bottom: 578px;
  }

  .error-container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .error-img-wrapper {
    transform: scale(1.2) translate(20px, 90px);
    width: 100%;
    max-width: 768px;
  }

  .error-text {
    font-size: 18px;
    line-height: 1.6;
  }

  .error-title {
    font-size: 140px;
  }

  .error-message {
    margin-bottom: 32px;

    font-size: 16px;
    line-height: 1.25;
  }

  .back-home {
    width: 133px;
    padding: 12px 24px;

    font-size: 14px;
    line-height: 1.3;
  }
}

/* ============================= DESKTOP ============================= */

@media screen and (min-width: 1440px) {
  .error-header-container {
    width: 100%;
    max-width: 1440px;
  }

  .error {
    padding-top: 278px;
    padding-bottom: 189px;
  }

  .error-container {
    display: flex;
    min-width: 1440px;
  }

  .error-img-wrapper {
    transform: scale(1.1) translate(600px, -200px);
    width: 100%;
    max-width: 805px;
  }

  .error-title {
    font-size: 150px;
  }

  .error-message {
    margin-bottom: 40px;
  }
}
