@import './vars.css';

/* :root {
  --start-gradient-color: #730505;
  --end-gradient-color: #0c0b0b;
} */

body {
  font-family: 'Poppins', sans-serif;
}

/* ================================== MOBILE ================================= */

/* .error-header {
    width: 375px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .err-head-container {
    position: absolute;
    top: 20px;
  } */

.error {
  padding-top: 96px;
  padding-bottom: 536px;
  min-height: 100vh;

  background-image: radial-gradient(
    75.97% 258.93% at 61.53% 47.37%,
    var(--start-gradient-color) 0%,
    var(--end-gradient-color) 100%
  );
  background-repeat: no-repeat;
  background-position: right bottom;
}

.error-container {
  position: relative;
  width: 375px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.error-img {
  position: absolute;
  top: 218px;
  right: 0px;
  display: block;
}

.error-text {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
}

.error-title {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -0.02em;

  color: var(--light-font-color);
}

.error-message {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: var(--light-font-color);
}

.back-home {
  display: block;
  width: 113px;
  padding: 10px 20px;

  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--light-font-color);
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 1000px;
}

/* ========================== TABLET ================================== */

@media screen and (min-width: 768px) {
  /* .error-header {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .err-head-container {
    top: 24px;
  } */

  .error {
    padding-top: 146px;
    padding-bottom: 578px;
  }

  .error-container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .error-img {
    top: 314px;
    right: 5px;
  }

  .error-text {
    font-size: 18px;
    line-height: 1.6;
  }

  .error-title {
    font-size: 140px;
  }

  .error-message {
    margin-bottom: 32px;

    font-size: 16px;
    line-height: 1.25;
  }

  .back-home {
    width: 133px;
    padding: 12px 24px;

    font-size: 14px;
    line-height: 1.3;
  }
}

/* ============================= DESKTOP ============================= */

@media screen and (min-width: 1440px) {
  /* .error-header {
    width: 1440px;
  } */

  .error {
    padding-top: 278px;
    padding-bottom: 189px;
  }

  .error-container {
    display: flex;
    min-width: 1440px;
  }

  .error-img {
    top: -274px;
    right: -5px;
  }

  .error-title {
    font-size: 150px;
  }

  .error-message {
    margin-bottom: 40px;
  }
}
