:root {
  --secondary-text-color: rgba(250, 250, 250, 0.5);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ========================mobile============================ */

@media screen and (min-width: 375px) {
  .container {
    max-width: 365px;
    margin-left: auto;
    margin-right: auto;
  }
}

.section {
  padding-top: 80px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  /* width: 1376px; */
}

.random-characters-box {
  margin-left: auto;
  margin-right: auto;
}

.characters-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  margin-bottom: 44px;
  color: var(--light-font-color);
}

.characters-container-info {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

@media screen and (min-width: 375px) {
  .characters-image {
    width: 335px;
    margin-bottom: 32px;
    object-fit: cover;
    margin-right: 32px;
  }
}

@media screen and (min-width: 768px) {
  .characters-image {
    width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .characters-image {
    width: 496px;
  }
}

/* .characters-image {
  margin-bottom: 32px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-right: 32px;
  /* width: 335px;
  height: 335px; */


.characters-image-container {
  flex-shrink: 0;
}

.characters-small-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  margin-bottom: 14px;
  color: var(--light-font-color);
}

.characters-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: var(--secondary-text-color);
}

.characters-item {
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  padding-bottom: 32px;
  padding-top: 32px;
}

.all-characters-button-container {
  text-align: end;
}

.all-characters-button {
  background-color: var(--praimery-bg-color);
  border: 1px solid rgba(250, 250, 250, 0.3);
  padding: 12px 24px;
  border-radius: 1000px;
  margin-top: 20px;
  cursor: pointer;
  width: 170px;
  height: 42px;
}

.all-characters-button:hover,
.all-characters-button:focus {
  background-color: #34387f;
  border: transparent;
}

.button-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: var(--light-font-color);
}

.characters-item:hover .characters-small-title,
.characters-item:focus .characters-small-title,
.characters-item:hover .characters-text,
.characters-item:focus .characters-text {
  color: #4b50ad;
}

/* ============================tablet=============================== */
@media screen and (min-width: 768px) {
  .container {
    max-width: 704px;
  }

  .random-characters-container {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section {
    padding-top: 128px;
    padding-bottom: 88px;
  }

  .character-title {
    font-size: 44px;
    line-height: 1;
    margin-bottom: 64px;
  }

  /*
  .characters-image {
    width: 704px;
    height: 704px;
  } */

  .characters-small-title {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 16px;
  }

  .characters-text {
    font-size: 16px;
    line-height: 1.1;
  }

  .all-characters-button {
    margin-top: 32px;
    margin-right: 0px;
  }
}

/* ============================desktop================================ */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 100%;
    /* width: 100%; */

  }

  .random-characters-container {
    max-width: 1440px;
  }

  /* .random-characters-box {
    margin: 0;
  } */

  .characters-container-info {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 32px;
  }

  .characters-image {
    margin-bottom: 0px;
    margin-right: 0px;
    /* width: 496px;
    height: 704px; */
  }

  .all-characters-button {
    left: auto;
    margin-top: 44px;
  }

  .characters-list {
    width: 848px;
    height: 614px;
  }
}