html {
  box-sizing: border-box;
}

h1,
h2,
h3,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

li {
  list-style: none;
  padding: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: currentColor;
  text-decoration: none;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--praimery-bg-color);
  color: var(--light-font-color);
  margin: 0;

  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}

/*! Этими правилимами прошу всех пользоваться */

/*
@media screen and (min-width: 375px) {
  .container {
    width: 365px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1406px;
  }
} */
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}