{{#each this}}
  <li class='characters-page-item'>
    <div class='image-thumb'>
      <img
        class='characters-page-img'
        src='{{this.path}}.{{this.extension}}'
        alt=''
      />
    </div>
    <div class='characters-page-span'>
      <p class='characters-page-name'>{{this.name}}</p>
    </div>
  </li>
{{/each}}