{{#each this}}
  <li id='{{this.id}}' class='characters-item'>
    <!-- <a href="" class="characters-link"> -->
    <h3 class='characters-small-title'>{{this.name}}</h3>
    <p class='characters-text'>{{this.description}}
    </p>
    <!-- </a> -->
  </li>
{{/each}}