{{#each this}}
<li class='characters-item'>
  <a href='' class='characters-link'>
    <h3 class='characters-small-title'>Ant-Man</h3>
    <p class='characters-text'>
      Thief turned hero Scott Lang uses size manipulation tech to infiltrate
      bases and intimidate bad guys.
    </p>
  </a>
</li>
{{/eahc}}